body {
  margin: 0;
	min-height: 1065px;
	background: url('../img/bg-cover.jpg'), linear-gradient(180deg, blue, yellow);
	background-size: 100% 100%;
	background-repeat: no-repeat;
 	background-blend-mode: multiply;
}
.container {
	margin: 0 auto;
	min-height: 1065px;
	max-width: 1024px;
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.3);
}
.header {
	overflow: hidden;
	margin: 0 auto;
	min-height: 100px;
	max-width: 1024px;
	border-radius: 30px 30px 0 0 ;
	background-color: rgba(0, 0, 0, 0.5);
}
.header > img {
	float: left;
	margin: 20px 0 0 30px;
	width: 100px;
}
.header .content {
	float: left;
}
.header .flags {
	overflow: hidden;
	padding: 20px 100px 0 0;
}
.header .flags img{
	float: right;
	padding-right: 10px;
	width: 25px;
	border-radius: 0;
}
.header h2 {
	margin: 70px 0 0 30px;
	color:  #5BD3FF;
	font-size: 48px;
	font-family: cursive;
	font-family: 'Caveat', cursive;
}
.header nav {
	clear: both;
	margin-top: 50px;
}

.header ul {
	margin: 0;
	padding: 0;
	padding: 10px 0;
	text-align: center;
}
.header li {
	display: inline-block;
}
.header li:not(:last-child)::after {
	display: inline-block;
	margin-right: 10px;
	color: #5BD3FF;
	content: '<>';
}
.header li a {
	display: inline-block;
	margin-right: 15px;
	padding: 0;
	padding: 10px 35px;
	border: 2px solid;
	border-radius: 10px;
	color: inherit;
	color: 	#5BD3FF;
	text-decoration: none;
}
.header li a:hover {
	background-color: #5BD3FF;
	color: #ffffff;
}

.main .item:nth-child(odd) {
	overflow: hidden;
	border-radius: 0 30px 30px 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}
.main .item:nth-child(even) {
	overflow: hidden;
	border-radius: 30px 0 0 30px;
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}
.main .item:not(:last-child) {
	margin: 30px 0;
}
.main .item img {
	border-radius: 30px;
}
.main .item:nth-child(odd) img {
	float: right;
	padding: 20px;
	max-width: 30%;
}
.main .item:nth-child(even) img {
	float: left;
	padding: 20px;
	max-width: 30%;
}
.main .item-content h2 {
		font-size: 32px;
}
.main .item-content {
	padding: 20px;
	color: #fff;
	font-size: 20px;	
	font-family: 'Cormorant Garamond', serif;
}